{% extends "auctions/layout.html" %}
{% block body %}

<section class="bg-light py-5 min-vh-100">
  {% if messages %}
    {% for message in messages %}
      <script>
        alert("{{ message }}");
      </script>
    {% endfor %}
  {% endif %}
  
  <header class="bg-secondary py-5 mt-5 text-light">
    <div class="container text-center">
      <h1 class="display-4 mb-4">Welcome to Auction Haven</h1>
      <p class="lead mb-4">Your one-stop platform for exciting auctions!</p>
      <a href="{% url 'categories' %}" class="btn btn-danger btn-lg shadow-sm">Browse Categories</a>
    </div>
  </header>

  {% if not user.is_authenticated %}
  <div class="mt-5 d-flex justify-content-center">
    <a href="{% url 'login' %}" class="btn btn-primary me-2">Login</a>
    <a href="{% url 'register' %}" class="btn btn-success">Register</a>
  </div>
  {% endif %}

  <div class="mt-5">
    <h2 class="h3 mb-4 text-center ">Recent Listings</h2>
    <div class="row g-4">
      {% for listing in listings %}
        <div class="col-md-4">
          <div class="card">
            
            <img src="media/{{ listing.image }}" class="card-img-top img-fluid bg-dark" alt="product_img" style="height: 250px; object-fit: contain;">
            <div class="card-body">
              <h5 class="card-title">{{ listing.title }}</h5>
              <p class="card-text">Category: {{ listing.category }}</p>
              <p class="card-text">Current Bid: ₹{{ listing.starting_value }}</p>
              
              <!-- Display auction status -->
              {% if listing.auction_active %}
              <p class="text-success fw-bold">Active</p>
              <a href="{% url 'listing' listing.id %}" class="btn btn-success">Bid Now</a>
          {% else %}
              <p class="text-danger fw-bold">Expired</p>
              {% if listing.winner %}
                  <p class="fw-bold">Winner: {{ listing.winner.username }}</p>
              {% else %}
                  <p class="fw-bold">No winner yet.</p>
              {% endif %}
          {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% endblock %}
